[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"
repository = "https://github.com/rhi-zone/interconnect"

[workspace.dependencies]
interconnect-core = { path = "crates/interconnect-core" }
